<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:installLocation="internalOnly">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application
			android:icon="@mipmap/ic_launcher"
			android:label="@string/widget_name"
			android:description="@string/app_description"
			android:theme="@style/AfTheme"
			android:usesCleartextTraffic="false">
			
    	<activity android:name=".AfPreferenceActivity"
    	    	android:label="@string/title_configure"
    			android:windowSoftInputMode="stateHidden|adjustPan"
    			android:taskAffinity="io.github.macmacs.af.configure"
        		android:excludeFromRecents="true"
				android:exported="false">

            <intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>
        
        <activity android:name="io.github.macmacs.af.AfDeviceProfileActivity"
		    	android:label="@string/device_profiles_title"
		    	android:taskAffinity="io.github.macmacs.af.configure"
		    	android:windowSoftInputMode="stateHidden|adjustPan"
		    	android:excludeFromRecents="true" />
        
        <activity android:name="io.github.macmacs.af.location.AfLocationSelectionActivity"
        		android:label="@string/location_settings_title"
        		android:taskAffinity="io.github.macmacs.af.configure"
        		android:windowSoftInputMode="stateHidden|adjustPan"
        		android:excludeFromRecents="true" />
        
        <activity android:name="io.github.macmacs.af.AfIntro"
        		android:label="Wettergraph"
        		android:taskAffinity="io.github.macmacs.af.intro"
        		android:excludeFromRecents="true"
				android:exported="true">
            
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		
		</activity>
        
        <provider android:name="io.github.macmacs.af.AfProvider" android:authorities="${applicationId}" android:exported="true" />
        
    	<receiver android:name="io.github.macmacs.af.AfWidget" android:label="@string/widget_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/af_widget_provider" />
    	</receiver>
    	
    	<receiver android:name="io.github.macmacs.af.AfServiceReceiver" android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="io.github.macmacs.af.DELETE_WIDGET" />
				<action android:name="io.github.macmacs.af.UPDATE_ALL" />
				<action android:name="io.github.macmacs.af.UPDATE_WIDGET_MINIMAL_DIMENSIONS" />
				<action android:name="io.github.macmacs.af.UPDATE_WIDGET_PROVIDER_AUTO" />
				<action android:name="io.github.macmacs.af.UPDATE_WIDGET_PROVIDER_CHANGE" />
				<action android:name="io.github.macmacs.af.UPDATE_WIDGET" />
				<action android:name="io.github.macmacs.af.DECREASE_LANDSCAPE_HEIGHT" />
				<action android:name="io.github.macmacs.af.DECREASE_LANDSCAPE_WIDTH" />
				<action android:name="io.github.macmacs.af.DECREASE_PORTRAIT_HEIGHT" />
				<action android:name="io.github.macmacs.af.DECREASE_PORTRAIT_WIDTH" />
				<action android:name="io.github.macmacs.af.INCREASE_LANDSCAPE_HEIGHT" />
				<action android:name="io.github.macmacs.af.INCREASE_LANDSCAPE_WIDTH" />
				<action android:name="io.github.macmacs.af.INCREASE_PORTRAIT_HEIGHT" />
				<action android:name="io.github.macmacs.af.INCREASE_PORTRAIT_WIDTH" />
				<action android:name="io.github.macmacs.af.ACCEPT_PORTRAIT_HORIZONTAL_CALIBRATION" />
				<action android:name="io.github.macmacs.af.ACCEPT_PORTRAIT_VERTICAL_CALIBRATION" />
				<action android:name="io.github.macmacs.af.ACCEPT_LANDSCAPE_HORIZONTAL_CALIBRATION" />
				<action android:name="io.github.macmacs.af.ACCEPT_LANDSCAPE_VERTICAL_CALIBRATION" />
    		</intent-filter>
    	</receiver>

	</application>

</manifest> 
